<h1>Todo List</h1>  
<div ng-repeat="item in items | filter: searchText.search">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-1"><input type="checkbox" name=""/></div>
      <!-- Make item a link so we can look at it alone -->
      <div class="col-xs-7"><a ng-href="#/items/view/{{item.id}}">{{item.task}}</a></div>
      <div class="col-xs-2">{{item.dueDate}}</div>
      <div class="col-xs-1">{{item.assignedTo}}</div>            
      <div class="col-xs-1"><button class="btn btn-danger" ng-click="itemDelete(item.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></div>
    </div>
  </div>
</div>
